<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>HELP ME</title>
  </head>
  <body>
    <h1>HELP ME PROJECT</h1>

    <%=message%>
  </body>
</html>
