<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>HELP ME</title>
  </head>

  <body>
    <%- include('fragments/header'); %>
    <main>
      <!-- Contenu à venir -->

      <p>
        Pierre JONCHERE est invité Mercredi soir en 8 à 21h, pour un diner entre
        "potes". N'oubliez pas votre boomerang !
      </p>
    </main>

    <%- include('fragments/footer'); %>
  </body>
</html>
