<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <link rel="stylesheet" href="/stylesheets/main.css" />
   </head>
   <body>
      <%- include('fragments/_header') %>

      <div class="page-container">
         <% if(typeof erreurConexion != "undefined") { %>
         <div class="error-message">
            <p><%= erreurConexion %></p>
         </div>
         <% } %>

         <form action="/login" method="post">
            <input type="text" name="username" placeholder="Login" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Login" />
         </form>
      </div>

      <%- include('fragments/_footer') %>
   </body>
</html>
